@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TjARc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHjxswWw.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 30px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: 'Lato', sans-serif;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  max-width: 1440px;
  margin-left: 13rem;
  margin-right: 10rem;
  font-family: 'Roboto', sans-serif;
}
/* My HTML */
/*Header Section*/
header nav a {
  border: 0;
  padding: 1rem;
  color: black;
}
.headerNav {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background: white;
}
/*Self-Info Block*/
body div img {
  width: 500px;
  height: 500px;
  padding: 2rem;
  background: lightgrey;
}
.selfInfoBlock {
  background: lightgrey;
  padding-bottom: 5rem;
}
h1,
h4 {
  padding: 1rem;
}
.selfInfoBlock p {
  padding: 1rem;
  border-top: 1px solid grey;
}
.selfInfoBlock a {
  display: inline-block;
  align-items: baseline;
  margin: 0 1rem;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: grey;
  color: white;
  padding: 20px;
}
/*Listen Up... Section*/
.ListenUpSection {
  display: flex;
  flex-direction: row;
}
.ListenUpText {
  width: 500%;
}
/*Stuff I'm Good At Section*/
.GoodStuffSection {
  width: 400%;
}
.BoxOfGoodStuff li {
  border: 1px outset grey;
  line-height: 200%;
}
/*Work History Section*/
.WorkHistoryList {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}
.Years li {
  line-height: 200%;
  font-weight: bold;
}
.Company li {
  line-height: 200%;
}
.WorkTitle li {
  line-height: 200%;
}
.TechUsed li {
  line-height: 200%;
}
/*Footer Section*/
footer p {
  display: flex;
  justify-content: center;
  color: white;
  background: grey;
  padding: 2rem;
}
/*Tablet*/
@media (max-width: 500px) {
  * {
    background-color: red;
  }
}
